.tasklist-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #575ae0;
}

.tasklist-title {
  font-size: 2.5rem;
  font-family: Alatsi;
}

.tasklist-date {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: Alatsi;
}
