.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-title {
  font-size: 3rem;
  font-family: Alatsi;
}

.input-shell {
  font-family: FiraMono;
  font-size: 1.2rem;
  padding: 1rem;
  background: black;
  border: none;
  border-radius: 1rem;
  color: white;
  width: 90vw;
}

.input-shell:focus {
  outline-width: 0px;
}

.error-message {
  color: red;
}

.page-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 2rem;
}

.page-content--table {
  width: 70%;
}
