.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-title {
  font-size: 3rem;
  font-family: Alatsi;
}

.error-message {
  color: #ba2d0b;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: Lato;
}

.page-content {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-top: 2.5rem;
}

.page-content--table {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
