body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FiraMono';
  src: local('FiraMono'),
    url(./assets/fonts/Fira_Code/static/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alatsi';
  src: local('Alatsi'),
    url(./assets/fonts/Alatsi/Alatsi-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
    url(./assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
}
