.table-container {
  width: 80%;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;
}

.tasklist-table-no-tasks {
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
}

.tasklist-table-title {
  text-align: center;
  font-family: Alatsi;
  font-size: 2rem;
  background: rgb(0, 0, 0);
  margin: 0;
  color: white;
  padding: 1rem;
}
